@import "tailwindcss";

/* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */

body {
  background: linear-gradient(135deg, #0a0f1a, #0c2e33, #064d46);
  color: #ece2d0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ece2d0;
}

@theme {
  --color-dark-green: #002b2b;
  --color-dark-green-hover: #014d4d;
}
